<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="css/icons.css" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="css/materialize.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <style>
    header, .socialcodia, footer {
    padding-left: 300px;
    padding-right:1px;
  }

  @media only screen and (max-width : 992px) {
    header, .socialcodia, footer {
      padding-left: 0;
    }
  }
</style>
  <body class=" blue lighten-5">
    
    <div class="navbar-fixed">
        <nav class="white darken-1">
                <a href="home" class="brand-logo blue-text hide-on-med-and-down" style="margin-left:35px">SocialCodia</a>
                <div class="row">
                    <div class="col s1 m4 l3">
                        <ul class="left">
                            <li>     
                                <a href="#" class="sidenav-trigger" data-target="slide-out" style="margin:0px"><i class="material-icons black-text"><img src="src/icons/menu.png" width="25" alt=""></i></a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col s12 m4 l5 hide-on-med-and-down">
                            <div class="input-field" >
                                <input class="blue lighten-5" style="border-radius: 30px; padding-left: 50px; height:40px; width:100%" type="text" name="search" id="search" placeholder="Search">
                                <i class="material-icons red-text prefix right">search</i>
                            </div>
                    </div>
                    
                    <div class="col s11 m4 l4">
                        <ul class="right">
                            <div class="row" style="margin-bottom:0px">
                                <div class="col s12">
                                    <div class="col s3 l2 ">
                                        <li><a href="home"><i class="material-icons large tooltipped" data-position="bottom" data-tooltip="Home"><img src="../src/icons/home.png" width="25" alt=""></i></a></li>
                                    </div>
                                    <div class="col s3 l2">
                                        <li><a href="#"><i class="material-icons large tooltipped" data-position="bottom" data-tooltip="Message"><img src="../src/icons/chat.png" width="25" alt=""></i></a></li>
                                    </div>
                                    <div class="col s3 l2">
                                        <li><a href="#" class=" tooltipped" data-position="bottom" data-tooltip="Notification"><i class="material-icons large "><img src="../src/icons/bell.svg" width="25" alt=""></i></a></li>
                                    </div>
                                    <div class="col s3 l2">
                                        <li><a href="" class="dropdown-trigger" data-target="profileMoreDropdown" data-tooltip="Profile"><i class="material-icons large "><img src="../img/user.png" class="circle"  width="30" style=" border: 1px solid blue;" alt=""></i></a></li>
                                    </div>
                                    <div class="col s3 l4">
                                        <!-- <li><a href="profile"><img src="<?php  echo $_SESSION['image']; ?>" width="25" alt="" data-position="bottom" data-tooltip="Profile" style=" border: 1px solid blue; margin-top:10px" class="responsive-img circle tooltipped"></a></li> -->
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
        </nav>
    
      </div>
      <ul class="collection dropdown-content" id="profileMoreDropdown" style="width:300px">
            <li class="collection-item avatar">
                <a href="profile">
                <img src="<?php echo $_SESSION['image']; ?>" alt="" class="circle">
                    <span class="title"><?php echo $_SESSION['name']; ?></span>
                    <p style="font-size:12px">See your profile</p>
                </a>
            </li>
            <li><a href="home"><i class="material-icons"><img src="src/icons/home.png" width="25" alt=""></i> My Account</a></li>
            <li><a href=""><i class="material-icons">settings</i> Account Setting</a></li>
            <li><a href="logout"><i class="material-icons">power_settings_new</i> Logout</a></li>
        </ul>

    <div class="socialcodia">
        <div class="row">
            <!-- *********************************Main Row offset 1 on both side, total row size is 10**************************************** -->
            <div class="col l12 m12 s12" style="padding:0px">

                <!-- ***************************Left Side Row************************* -->
                <div class="col s12 l12 m12">
                        <h5>Your Friends</h5>
                        <div class="col l4 m6 s12">
                            <ul class="collection">
                                <li class="collection-item avatar" style="padding-left: 90px;">
                                    <a href="#">
                                        <img src="../img/user.png" alt="" width="" class="circle" style="width: 60px; height: 60px;">
                                        <div style="margin-top: 9px;">
                                            <span class="title">Umair Farooqui</span>
                                            <p>@mufazmi</p>
                                        </div>
                                    </a>
                                    <div style="margin-top: 14px;" class="secondary-content right">
                                        <button class="blue" style="border: 1px solid white; display: none; border-radius: 90%;"><i class="material-icons  white-text">check</i></button> 
                                        <button class="red" style="border: 1px solid white; display: nodne; border-radius: 90%; ;"><i class="material-icons  white-text">delete</i></button> 
                                        <button class="red" style="border: 1px solid white; display: none; border-radius: 90%; ;"><i class="material-icons  white-text">add</i></button> 
                                    </div>
                                  </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <ul id="slide-out" class="sidenav collapsible sidenav-fixed" style=" top:65px;">
        <li><a href="home.html"><i class="material-icons"><img src="../src/icons/home.png" width="25" alt=""></i> Feed</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/chat.png" width="25" alt=""></i> Chats</a></li>
        <li><a href="friends.html"><i class="material-icons"><img src="../src/icons/friends.png" width="25" alt=""></i> Friends</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/flag.png" width="25" alt=""></i> Page</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/photo.png" width="25" alt=""></i> Gallery</a></li>
        <li><a href="videos.html"><i class="material-icons"><img src="../src/icons/video.png" width="25" alt=""></i> Video</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/group.png" width="25" alt=""></i> Groups</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/chat.png" width="25" alt=""></i> Groups</a></li>
        <li><a href=""><i class="material-icons"><img src="../src/icons/chat.png" width="25" alt=""></i> Groups</a></li>
        <div class="divider"></div>
        <li><a href="../include/students/logout.php"><i class="material-icons">logout</i>Logout</a></li>
        <li><a href="about.php"><i class="material-icons">info</i>About Us</a></li>
    </ul>
    
  </body>
  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.tooltipped').tooltip();
    $('.dropdown-trigger').dropdown();
    $('.tabs').tabs();
    $('.collapsible').collapsible();
    $('.sidenav').sidenav();
    
  });
  </script>
</html>