<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="css/icons.css" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="css/materialize.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class=" blue lighten-5">
    
    <nav class="red darken-1 z-depth-0">
        <div class="row">
            <div class="col l10 offset-l1 m12">
                <!-- <a href="#" class="brand-logo">Social Ui</a> -->
                <ul class="left">
                    <li class="hide-on-med-and-down">
                        <a href="#"><h5>Social Codia</h5></a>
                    </li>
                    <li>
                        <div class="input-field" >
                            <input class="blue lighten-5" style="border-radius: 30px; padding-left: 50px;" type="text" name="search" id="search" placeholder="Search">
                            <i class="material-icons red-text prefix right">search</i>
                        </div>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="#"><i class="material-icons large">person</i></a></li>
                    <li><a href="#"><i class="material-icons large">message</i></a></li>
                    <li><a href="#"><i class="material-icons large">face</i></a></li>
                    <li><a href="#"><img src="src/img/mufazmi.jpg" width="40" alt="" style=" border: 1px solid blue; margin-top: 10px;" class="responsive-img circle"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="">
        <div class="row">
            <!-- *********************************Main Row offset 1 on both side, total row size is 10**************************************** -->
            <div class="col l10 offset-l1" style="padding:0px">

                <!-- ***************************Left Side Row************************* -->
                <div class="col l3 m3 s12">
                    <div class="card z-depth-0 center-align">
                        <div class="red" style="height: 110px;"></div>
                        <img src="src/img/mufazmi.jpg"  alt="" style="width:120px; margin-top: -60px; border: 6px solid white;" class="responsive-img circle">
                        <h5 style="font-weight: bold;">Umair Farooqui</h5>
                        <p>Software Engineer</p>
                        <div class="divider"></div>
                        <h5 class="grey-text">Followings</h5>
                        <h5>62</h5>
                        <div class="divider"></div>
                        <h5 class="grey-text">Followers</h5>
                        <h5>95</h5>
                        <div class="card-action">
                            <a href="#" class="red-text darken-4" style="font-weight:bold; margin: 0px;">View Profile</a>
                        </div>
                    </div>
                </div>
                
                <!-- *****************************Middle Row For Post Content************************ -->
                <div class="col s12 l6 m6">
                        <!-- ********************Add Feed Card Design***************** -->
                        <div class="card z-depth-0">
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <div class="card-content" style="padding: 5px;">
                                        <div class="row" style="margin-bottom: 0px;">
                                            <div class="col s3 m3 l2 center" style="margin-top: 10px;">
                                                <img src="src/img/mufazmi.jpg" height="100" width="55" class="responsive-img circle" style=" border: 2px solid blue; margin-top: 5px;" alt="">
                                            </div>
                                            <div class="col s9 m9 l10" style="margin-left: -20px;">
                                                <div class="input-field" style="margin-bottom: 0px;">
                                                    <textarea name="content" id="" cols="30" rows="10" maxlength="1000" style="max-height: 250px; min-height: 120px;" class="materialize-textarea" placeholder="What's on your mind?" style="height: 100px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action" style="padding: 8px;">
                                        <div class="row" style="margin: 0px;">
                                            <a href="#"><i class="material-icons prefix left" style="font-size: 30px; padding-left: 20px;">camera_alt</i></a>
                                            <input type="submit" class="btn red right" style="border-radius: 20px; height: 40px; width: 105px; margin-right: 20px;" name="btnPostFeed" value="Post" id="btnPostFeed">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- **************************Feed Data Will Show Into This Card********************** -->
                        <div class="card z-depth-0">
                            <div class="row">
                                <div class="col s3 m3 l2 center-align">
                                    <img src="src/img/mufazmi.jpg" height="100" width="50" class="responsive-img circle" style=" border: 2px solid blue; margin-top: 5px;" alt="">
                                </div>
                                <div class="col s9 m9 l10" style="margin-left: -20px;">
                                    <p style="margin-top:10px;"><b>Umair Farooqui</b></p>
                                    <p style="margin-top:-15px;" class="grey-text small">Today at 05:75 Am</p>
                                </div>
                            </div>
                            <p style="margin-top: -30px; padding-left: 10px; padding-right: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis reprehenderit ea quaerat aliquid, delectus architecto eaque nostrum consequatur! Nam, non!</p>
                            <img style="margin-top: -10px;" src="http://socialcodia.net/SocialApi/public/uploads/5eea97420dff4.jpg" class="responsive-img" alt="">
                            <span class="grey-text darken-5" style="margin-left: 10px;">16 Likes</span>
                            <span class="right grey-text darken-5" style="margin-right: 10px;">18 Comments</span>
                            <div class="card-action" style="padding: 10px;">
                                <div class="center">
                                    <span class="left"><a href="#" class="blue-text"><i class="material-icons prefix tiny">thumb_up</i><span style="padding: 5px;">Like</span></a></span>
                                    <span class="center"><a href="#" class="blue-text"><i class="material-icons prefix tiny">comment</i><span style="padding: 5px;">Comment</span></a></span>
                                    <span class="right"><a href="#" class="blue-text"><i class="material-icons prefix tiny">share</i><span style="padding: 5px;">Share</span></a></span>
                                </div>
                            </div>
                        </div>

                </div>

                <!-- ****************************************Right Row*********************************** -->
                <div class="col l3 m3 s12">
                    <div class="card z-depth-0">
                        <div class="card-header" style="padding: 20px;">
                            <b>Stories</b>
                            <i class="material-icons right">more_vert</i>
                        </div>
                        <div class="divider"></div>
                        <!-- **********************For User to add story*************************** -->
                        <!-- <div class="stories-row" style="padding: 10px;"> -->
                            <div class="row" style="margin: 0px; padding: 5px;">
                                <div class="col s3 m3 l3 center">
                                    <img src="src/img/mufazmi.jpg" style="border: 2px solid red; min-width: 40px;" width="50" alt="" class="responsive-img circle">
                                </div>
                                <div class="col s9 m9 l16">
                                    <p style="font-weight: bold; margin-top: 6px;">Add a new story</p>
                                    <p style="margin-top: -20px; font-size: small;">Yesterday at 9:32pm</p>
                                </div>
                            </div>
                        <!-- </div> -->
                        <!-- **********************END For User to add story*************************** -->
                        <div class="divider"></div>
                        <!-- <div class="stories-row" style="padding: 10px;"> -->
                            <div class="row" style="margin: 0px; padding: 5px;">
                                <div class="col s3 m3 l3 center">
                                    <img src="src/img/mufazmi.jpg" style="border: 2px solid red; min-width: 40px;" width="50" alt="" class="responsive-img circle">
                                </div>
                                <div class="col s9 m9 l16">
                                    <p style="font-weight: bold; margin-top: 6px;">Add a new story</p>
                                    <p style="margin-top: -20px; font-size: small;">Yesterday at 9:32pm</p>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </body>
  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.min.js"></script>
</html>